# VPC
ec2_vpc_name: VPC_F5
ec2_vpc_region: us-east-1
ec2_vpc_cidr: 10.0.0.0/16
# Subnets
ec2_subnet_az: us-east-1a
ec2_subnet_name: Subnet-F5
ec2_subnet_cidr: 10.0.0.0/24
ec2_subnet_name1: Subnet-F5-ENI1
ec2_subnet_cidr1: 10.0.1.0/24
ec2_subnet_name2: SubnetF5-ENI2
ec2_subnet_cidr2: 10.0.2.0/24
# ENIs
ec2_eni_name1: ENI_F5_1
ec2_eni_name2: ENI_F5_2
# IGW
ec2_igw_name: IGW_F5
# Route Table
ec2_rt_name: RT_F5
# RHEL Open ports
ec2_sg_name: SG_F5
ec2_sg_openports:
  - 80
  - 443
  - 22
  - 8433

# BigIP F5 instance
ec2_bigipf5_instance_name: bigipf5-1
ec2_bigipf5_image_id: ami-07b95e48f28d08f54
#ec2_bigipf5_image_name: "F5 BIGIP-17.1.1.4-0.100.9 PAYG-Good 25Mbps-241016111301-8e1217d4-a046-4cdf-894e-e38175bae37f"
ec2_bigipf5_image_name: "F5 BIGIP-* PAYG-Good 25Mbps*"
ec2_bigipf5_flavor_name: t2.medium
ec2_bigipf5_keypair_name: "KeyPair-Virginia"
ec2_bigipf5_user: "{{ ansible_user | default('admin') }}" 
ec2_bigipf5_pass: "{{ ansible_password | default('adminadmin') }}" 

# RHEL instance
ec2_rhel_instance_name: rhelserver-1
#ec2_rhel_image_id: ami-0f2f686f34de7c86e
ec2_rhel_image_name: RHEL-9.5.0_HVM*x86_64*
ec2_rhel_flavor_name: t2.micro
ec2_rhel_disk_size: 20
ec2_rhel_ebs_name: /dev/sda1
ec2_rhel_keypair_name: "KeyPair-Virginia"
ec2_rhel_user: "ec2-user"
ec2_rhel_pass: "{{ ansible_password }}"
